.bg-blue-gray {
    background-color: #b0bec5;
}

.bg-teal {
    background-color: teal;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-96 {
    font-size: 96px;
}

.edit {
    cursor: pointer;
}

.bdr {
    border-radius: 6px;
    overflow: hidden;
}
